@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --blue: #4a99d3;
  --black: #0f001a;
  --grey: #000000;
  --red: #fc0b0d;
  --white: #ffffff;
}
*::selection {
  color: var(--white);
  background: var(--black);
}
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background: #f5f5f5;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
  padding: 10px 9em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background: var(--white);
}
nav {
  display: flex;
  column-gap: 25px;
}
.nav-bar .fa-bars{
  display: none;
}
.nav-bar h1 {
  font-size: 28px;
  color: var(--blue);
  font-weight: 700;
  letter-spacing: 0.13em;
  margin-right: auto;
}
.nav-bar nav .icon-group {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.nav-bar nav .icon-group p a {
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}
.nav-bar nav .icon-group p a:hover {
  color: var(--blue);
}
.nav-bar nav .icon-group i {
  font-size: 20px;
}
.nav-bar nav .icon-group .fa-circle-plus {
  color: var(--red);
}
.position {
  margin: 0 5em;
}
.groups {
  display: flex;
  justify-content: center;
  column-gap: 4em;
  padding: 45px 0 10px 0;
  font-family: "Montserrat", sans-serif;
  background: #eaf6ff;
}
.groups .university-campus h1 {
  font-size: 28px;
  font-weight: 400;
  color: var(--grey);
  text-align: center;
  line-height: 35px;
  padding-bottom: 25px;
}
.groups .university-campus form {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  border: 2px solid var(--red);
  border-radius: 1em;
}
.groups .university-campus form i {
  font-size: 15px;
  color: var(--blue);
}
.groups .university-campus form input {
  padding: 12px;
  background: local;
}
.groups .university-campus form input::placeholder {
  font-size: 12px;
  color: var(--blue);
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.groups .img img {
  width: 250px;
}
.container-box {
  padding: 3em 0;
  display: flex;
  justify-content: center;
  column-gap: 3em;
}
.container-box .cards {
  display: flex;
  column-gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fafafa;
  padding: 2em 4em;
  border-radius: 1em;
}
.container-box .cards:hover {
  border: 2px solid var(--blue);
  cursor: pointer;
  background: #eaf6ff;
}
.container-box .cards .box h2 {
  font-size: 23px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding-bottom: 15px;
}
.container-box .cards .box p {
  font-size: 14px;
  max-width: 150px;
  color: var(--grey);
  padding-bottom: 15px;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  font-size: 12px;
  padding: 8px 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: var(--red);
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;
}
.btn button:hover {
  background: var(--black);
}
.container-box .cards img {
  width: 160px;
}
.groups-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 2em;
  row-gap: 2em;
  font-family: "Roboto", sans-serif;
  margin: 30px 0 30px 0;
}
.groups-img .img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
  background: var(--white);
  padding: 16px;
  border-radius: 10px;
}
.groups-img .img:hover {
  border: 2px solid var(--blue);
  cursor: pointer;
}
.groups-img .img img {
  width: 200px;
  object-fit: cover;
}
.groups-img .img h2 {
  font-size: 17px;
  font-weight: 400;
  color: var(--grey);
  padding-bottom: 10px;
}
.groups-img .img .para {
  display: flex;
  align-items: baseline;
  font-weight: 700;
  justify-content: space-between;
  width: 200px;
}
.groups-img .img .para p {
  font-size: 14px;
  color: var(--red);
}
.groups-img .img .para span {
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 10px;
  background: var(--red);
  color: var(--white);
}
.groups-img .img .para:nth-of-type(2) > p,
.groups-img .img .para:nth-of-type(2) > span {
  font-size: 10px;
  padding: 3px 0 5px 0;
  color: var(--black);
  background: none;
}
.view-more{
    padding: 15px 0 0 0;
    display: flex;
    justify-content: center;
}
.view-more h1:hover{
    background: var(--red);
    color: var(--white);
    cursor: pointer;
}
.view-more h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid var(--red);
    padding: 10px 20px;
    border-radius: 1.5em;
}
.background-img img{
    float: right;
    width: 100px;
    height: 100px;
    
}
footer{
    padding: 0 5em;
    background: #EAF6FF;
    margin-top: 3em;
}
footer .groups-footer{
    display: flex;
    align-items: baseline;
    column-gap: 8em;
    padding: 3em 0;
}
footer .groups-footer .first-group h1{
    font-size: 30px;
    letter-spacing: 0.10em;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--black);
    padding-bottom: 15px;
}
footer .groups-footer .first-group p{
    font-size: 14px;
    color: #504A41;
     font-family: "Montserrat", sans-serif;
    font-weight: 400;
    max-width: 460px;
    line-height: 20px;
}
footer .groups-footer .contact-about{
    display: flex;
    column-gap: 6em;
    font-family: "Montserrat", sans-serif;
}
footer .groups-footer .contact-about .box h2{
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
    letter-spacing: 0.10em;
    padding-bottom: 25px;
}
footer .groups-footer .contact-about .box .icon p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 10px;
}
footer .groups-footer .contact-about .box .icon p i{
    font-size: 15px;
    color:#504A41;
    padding-right: 10px;
}
footer .groups-footer .contact-about .box .icon p:nth-child(3) i{
    padding-right: 14px;
}
/*************************media query*************************/
@media only screen and (max-width:395px){
  .groups .img img {
    width: 170px;
}
.groups .university-campus h1 {
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 0px;
}
.groups .university-campus form {
  padding: 4px 7px;
  column-gap: 8px;
  margin-top: 7px;
}
}
@media only screen and (max-width:600px){
  .nav-bar{
    padding: 8px 1em;
  }
  nav{
    position: absolute;
    top: 7%;
    width: 100%;
    left: 0;
    display: none;
    padding:2em 0 2em 5em;
    background: #EAF6FF;
    border-top: 1px solid var(--grey);
  }
  .nav-bar .fa-bars{
    display: initial;
    font-size: 20px;
    color: var(--blue);
  }
  .nav-bar h1 {
  font-size: 20px;
  }
  .nav-bar nav .icon-group{
  line-height: 2.5em;
  }
  .position {
    margin: 0px 3em;
  }
  .groups {
    flex-direction: column-reverse;
    padding: 24px 0;
    text-align: center;
}
.groups .img img {
    width: 200px;
    padding-bottom: 13px;
}
.groups .university-campus h1 {
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 10px;
}
.groups .university-campus form {
  display: inline-flex;
  align-items: center;
    max-width: min-content;
    padding: 4px 14px;
    column-gap: 10px;
    margin-top: 10px;
}
.groups .university-campus form input {
    padding:0;
}
.groups .university-campus form input::placeholder,
.groups .university-campus form i {
  font-size: 12px;
}
.container-box {
    padding: 2em 0;
    flex-direction: column-reverse;
    row-gap: 2em;
}
.container-box .cards {
    column-gap: 5px;
    padding: 1em 0em;
    justify-content: center;
}
.container-box .cards .box h2 {
    font-size: 19px;
    padding-bottom: 5px;
}
.container-box .cards .box p {
    font-size: 12px;
    max-width: 120px;
    padding-bottom: 10px;
}
.container-box .cards img {
    width: 100px;
}
.groups-img {
    column-gap: 1em;
    row-gap: 1em;
    margin: 10px 0 10px 0;
}
.groups-img .img {
    text-align: center;
    padding: 5px;
    width: 100%;
}
.groups-img .img img {
    width: 130px;
}
.groups-img .img h2 {
    padding-bottom: 5px;
}
.groups-img .img .para {
     width:auto ;
    text-align: center;
    padding: 0 2em;
}
.groups-img .img .para p {
    font-size: 12px;
}
.groups-img .img .para:nth-of-type(2) > p, .groups-img .img .para:nth-of-type(2) > span {
 padding-top: 9px;
} 
.groups-img .img:nth-child(2),
.groups-img .img:nth-child(4),
.groups-img .img:nth-child(6),
.groups-img .img:nth-child(7),
.groups-img .img:nth-child(8),
.groups-img .img:nth-child(9),
.groups-img .img:nth-child(10),
.groups-img .img:nth-child(11){
  display: none;
}
.view-more {
    padding: 20px 0 0 0;
}
.view-more h1 {
  font-size: 13px;
  padding: 5px 14px;
}
.background-img img {
  width: 60px;
  height: 60px;
}
footer {
  padding: 0 2em;
  margin-top: 1.5em;
}
footer .groups-footer {
  flex-wrap: wrap;
column-gap: 0;
row-gap: 2em;
}
footer .groups-footer .first-group h1 {
  font-size: 20px;
  padding-bottom: 10px;
}
footer .groups-footer .first-group p {
  font-size: 12px;

  max-width: max-content;
}
footer .groups-footer .contact-about .box h2 {
  font-size: 17px;
  padding-bottom: 10px;
}
footer .groups-footer .contact-about {
  column-gap: 3em;
  flex-wrap: wrap;
  flex: 1 120px;
  row-gap: 1em;
}
}